[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
clickhouse-connect = "*"
prefect = "*"
prefect-aws = "*"
python-dotenv = "*"
requests = "*"
dbt-core = "*"
dbt-clickhouse = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.10"
