cloud_id = "<cloud_id>"
folder_id = "<folder_id>"
network_id = "<network_id>"
service_account_id = "<service_account_id>"

token = "<OATH_token>"
access_key ="<static_access_key_ID>"
secret_key ="<static_access_private key>"

db_username = "<db_username>"
db_password = "<db_password>"
